body {
    line-height:1;
    background-image: url("/assets/Images/retter.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}