<!-- <div ngIf="currentOpskrift">
    <form>
        <div>
            <input id="Title" [(ngModel)]="currentOpskrift.Title" name="Title">
        </div>

        <div>
            <textarea id="Beskrivelse" [(ngModel)]="currentOpskrift.Beskrivelse" name="Beskrivelse"></textarea>
        </div>

        <div>
            <input id="Ingredienser" [(ngModel)]="currentOpskrift.Ingredienser" name="Ingredienser">
        </div>
    </form>
</div> -->

<div *ngIf="opskrift">
    <div>
        <p>{{opskrift.Title}}</p>
    </div>

    <div>
        <p>{{opskrift.Beskrivelse}}</p>
    </div>
    
    <div>
        <p>{{opskrift.Ingredienser}}</p>
    </div>
</div>

