#navbar{
    background-color: #a58c8c;
    opacity: 0.9;
    height: 40px;
    min-height: 2%;
}
#navContent{
    background-color: #a58c8c;
    text-align: center;
    
}
.navContent2{
    margin: 0px 50px 0px 0px;
    
}